.instruction {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #e0e4efc7;
  height: 90%;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.instruction-p {
  text-align: justify;
  margin: 0% 8%;
}

.btns {
  margin: 3%;
  width: 30%;
  font-size: 95%;
  height: 8vh;
  border-radius: 6px;
  border-color: #3c435c;
}

.btns:hover {
  cursor: pointer;
}
.btn2 {
  background-color: #3c435c;
  color: white;
}
